*{
    background-color: gold;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex; 
    width: 100%;
    justify-content: space-between;
    background-color: greenyellow;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}
.items{
    padding-left: 100px;
    padding-right: 100px;
    background-color: greenyellow;
}
.signin{
    border-radius: 10px;
    padding:5px 15px;
    margin-right: 20px;
}
.hero{
    display: flex;
    width: 100%;
    align-items: flex-start;
    
}
.logo{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}
.image{
    size: 25%;
    margin-left: 50px;
    margin-top: 50px;
    border
}
.words{
padding-top: 220px;
padding-left:140px;
font-family:Arial;
font-size: 32px;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr; /* 2 columns: fixed 200px, then a flexible remaining space */
    grid-template-rows: auto 1fr auto; /* 3 rows: auto for header, 1fr for main, auto for footer */
    gap: 1rem; /* spacing between cells */
    min-height: 100vh;
    }